Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
SelfsQuest.code-workspace
SelfsQuest.uproject
.ignore
Platforms/HoloLens/Config/HoloLensEngine.ini
*.uasset
*.umap
Content
